/* search bar */

.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 70px;
    border-bottom: 1px solid #dedede;
    padding: 0 20px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input[type=text] {
    width: 300px;
    height: 40px;
    padding-left: 14px;
    padding-right: 33px;
    font-size: 16px;
    border: 1px solid #adadad;
    border-radius: 30px;
}

.search-btn {
    position: absolute;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.search-btn:hover {
    color: #01b4c0;
}