.accordian {
    margin-top: 33px;
    padding-top: 33px;
    border-top: solid 1px #e7e7e7;
}

.accordian:last-child {
    border-bottom: solid 1px #e7e7e7;
    padding-bottom: 33px;
    /* margin-bottom: 33px; */
}

.accordian .accordian-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.accordian .flipper i {
    font-size: 50px;
}

.accordian .flip-container,
.accordian .front,
.accordian .back {
    width: 50px;
    height: 50px;
}

.accordian .vertical.flip-container .flipper {
    transform-origin: 100% 25px;
    /* half of height */
}

.accordian .title {
    font-size: 34px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.accordian .accordian-content {
    font-size: 20px;
}